label{
    padding: 10px;
    font-weight: 600;
    margin: auto;
}
.submit{
    translate: 90%;
}
.spacer{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}