<nav class="navbar navbar-expand-lg bg-body-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">DevCorp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold pt-3 active" aria-current="page" href="#"><span>Home</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="signup"><button class="btn btn-primary">Signup</button></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="login"><button class="btn btn-primary">Login</button></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="logout"><button class="btn btn-primary">Logout</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>